/.editorconfig export-ignore
/.gitignore export-ignore
/.prettierignore export-ignore
/.prettierrc export-ignore
/.stylelintrc.json export-ignore
/eslint.config.mjs export-ignore
/LICENSE export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/Rakefile export-ignore
/README.md export-ignore
/tsconfig.json export-ignore
/webpack.config.cjs export-ignore
/.git/ export-ignore
/.github/ export-ignore
/log/ export-ignore
/node_modules/ export-ignore
/src/ export-ignore
