name: CI

# allow also running manually
on: ["push", "pull_request", "workflow_dispatch"]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["20.x"]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Build the application
        run: npm run build

      - name: Create archive
        run: tar -czf dist.tar.gz dist

      - name: Run ESLint
        run: npm run eslint

      - name: Release
        if: github.event_name == 'push'
        uses: softprops/action-gh-release@v1
        with:
          files: dist.tar.gz
          tag_name: latest
          overwrite: true
